*{
    box-sizing: border-box;
    font-family:  'Arial Narrow', Arial, sans-serif;
    transition : 0.8s background ease-in-out;
}
a{
    text-decoration: none;
    color:rgb(44, 61, 61);

}
a:hover{
    color : black;
    
}
body.login{
    background-image: url(../img/login-bg.jpg);
    background-size: cover;
  

}
.container{
    position: relative;
    height: 400px;
    width: 100%;
    margin-top:15px;
}


.form{
    color:black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(138, 134, 134);
    background-color: rgb(181, 181, 181);
    opacity: 0.9;
    border-radius: 5px;
    font-size: 22px;
    width: 700px;
    padding: 14px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.label , .input{
    height: 47px;
    width: 100%;
   
}
.label{
    font-weight: bold;
    margin-top: 20px;
}
.input{
    font-size: 22px;
    padding: 7px;
    margin-top: 7px;
    border : 1px;
    border-style: solid;
    border-radius: 5px;
    border-color:rgb(63, 62, 62) ;
    background-color: rgb(220, 218, 218);
    
}
.input:focus{

    border: 1px solid rgb(80, 80, 80);

}
.btn{
    font-weight: bold;
    display: inline-block;
    padding:4px 10px;
    height: 35px;
    width: auto;
    background-color: transparent;
    border : 1px solid rgb(63, 62, 62);
    border-radius: 5px;
    transition : 0.6s background-color ease-in-out;
}
.btn:hover{
    background-color: rgb(145, 143, 141);
}
.btn-submit{
  
    margin-right : 3px;
    margin-top: 12px;
}
.btn-reset{
    margin-right : 3px;
    margin-top: 12px;
}
.report-container{
    position: relative;
    margin-top:20px;
    width: 100%;
}
 .danger-report{
    margin-top:10px;
    margin-left:50%;
    transform: translateX(-50%);
    border: 1px solid #ebccd1;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a94442;
    border-radius: 5px;
    font-size: 22px;
    width: 700px;
    padding: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.danger-report h5{
    display: inline-block;
    margin : 5px;
}
